jax[cuda12]==0.6.2

flax==0.10.7
optax==0.2.3
orbax-checkpoint==0.10.3

tensorflow==2.13.0
tensorflow-addons==0.21.0
tensorflow-datasets==4.9.9
tensorflow-gan==2.1.0
tensorflow-io==0.33.0
tensorflow-probability==0.25.0

numpy==1.26.4
scipy==1.15.3
matplotlib==3.10.8

ml_collections==1.1.0
einops==0.8.2

absl-py==2.4.0
pillow==12.1.1
PyYAML==6.0.3
imageio==2.37.3
tqdm==4.67.3
